/* .TB-container {
  border: black solid;
} */

.TB-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary-700);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  border-radius: 5px;
  border: black;
  margin: 0px 10px;
}
